<link href="~/Content/Site.css" rel="stylesheet" />
@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Delete";
}

<h2>Warning: Are you sure you want to delete?</h2>

<div>
    <a href="/Teacher/Show/@Model.Id">Go Back</a>
    <div id="showname">@Model.FirstName @Model.LastName</div>
</div>

<!--POST request to /Teacher/DeleteTeacher/{id}-->
<form method="POST" action="/Teacher/DeleteTeacher/@Model.Id">
    <input id="deleteBtn" type="submit" value="Delete" />
</form>

<nav>
    <a class="navButtonCancel" href="/Teacher/Show/@Model.Id">Cancel</a>
</nav>
