
@{
    ViewBag.Title = "Show";
}

<h2>Teacher's Information:</h2>

<!--Teacher''s full information-->
<div>
    <div>@Model.FirstName @Model.LastName</div>
    <div> Salary: @Model.Salary</div>
    <div>Hire date: @Model.HireDate</div>
</div>


