
@{
    ViewBag.Title = "Show";

}


<h2>Teacher's Information:</h2>

<!--Teacher's full information-->
<!--Delete link that redirects to Delete view for a particular teacher-->
<div>
    <div>@Model.FirstName @Model.LastName</div>
    <div> Salary: @Model.Salary</div>
    <div>Hire date: @Model.HireDate</div>
    <a href="/Teacher/Delete/@Model.Id">Delete This Teacher</a>
</div>


